<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	
	<title>Document</title>
	<!--<link rel="stylesheet" type="text/css" href="../controller/dist/css/bootstrap.min.css">-->
	<link rel="stylesheet" type="text/css" href="../controller/css/article.css">
	<link rel="stylesheet" type="text/css" href="../controller/dist/css/font-awesome.min.css">
</head>
<body>
	
	<div class="head">
			
			<div class="search">
				<input type="text"><button><i class="fa fa-search"></i></button>
			</div>
			<div class="guide">
				<div class="item0"><a href="">首页</a></div>
				<div>|</div>
				<div class="item1">
					<a href="children.html">学院概况</a>
					<div class="dropdown1">
						<a href="children.html">学院简介</a>
						<a href="children.html">学院简介</a>
						<a href="children.html">学院领导</a>
						<a href="children.html">组织机构</a>
						<a href="children.html">工作职责</a>
						<a href="children.html">联系我们</a>
					</div>
				</div>
				<div>|</div>
				<div class="item2">
					<a href="children.html">党政工作</a>
					<div class="dropdown2">
						<a href="children.html">人事工作</a>
				   		<a href="children.html">党建工作</a>
						<a href="children.html">工会教代会</a>
						<a href="children.html">理论学习</a>
						<a href="children.html">规章制度</a>
					</div>
				</div>
				<div>|</div>
				<div class="item3">
					<a href="children.html">师资队伍</a>
					<div class="dropdown3">
						<a href="children.html">杰出人才</a>
						<a href="children.html">教授风采</a>
						<a href="children.html">教学名师</a>
						<a href="children.html">硕士生导师</a>
						<a href="children.html">博士生导师</a>
					</div>
				</div>
				<div>|</div>
				<div class="item4">
					<a href="children.html">本科生培养</a>
					<div class="dropdown4">
						<a href="children.html">专业介绍</a>
						<a href="children.html">培养方案</a>
						<a href="children.html">质量工程</a>
						<a href="children.html">在线开放课程</a>
						<a href="children.html">管理制度</a>
						<a href="children.html">表格下载</a>
					</div>
				</div>
				<div>|</div>
				<div class="item5">
					<a href="">研究生培养</a>
					<div class="dropdown5">
						<a href="children.html">学科点介绍</a>
						<a href="children.html">学位授予</a>
						<a href="children.html">管理制度</a>
						<a href="children.html">表格下载</a>
					</div>
				</div>
				<div>|</div>
				<div class="item6">
					<a href="children.html">学术科研</a>
					<div class="dropdown6">
						<a href="children.html">学术动态</a>
						<a href="children.html">科研管理文件</a>
						<a href="children.html">科研团队</a>
						<a href="children.html">科研立项</a>
						<a href="children.html">科研成果</a>
						<a href="children.html">表格下载</a>
					</div>
				</div>
				<div>|</div>
				<div class="item7">
					<a href="children.html">学生工作</a>
					<div class="dropdown7">
						<a href="children.html">招生与就业</a>
						<a href="children.html">团学工作</a>
						<a href="children.html">学生社团</a>
						<a href="children.html">菁华化苑</a>
						<a href="children.html">创新创业</a>
						<a href="children.html">管理制度</a>
					</div>
				</div>
				<div>|</div>
				<div class="item8">
					<a href="children.html">校友会</a>
					<div class="dropdown8">
						<a href="children.html">校友动态</a>
						<a href="children.html">校友风采</a>
						<a href="children.html">杰出校友</a>
						<a href="children.html">联系我们</a>
					</div>		
				</div>
				<div>|</div>
				<div class="item9">
					<a href="children.html">信息公开</a>
				</div>
			</div>
		</div>
		
		
		<div class="container">
		<div class="content">
			<div class="guide-c">
			<div class="guide-head">本科生培养</div>
			<div class="child1 active"><i class="fa fa-th-large" aria-hidden="true"></i>教学通知</div>
			<div class="child2"><i class="fa fa-envelope-o" aria-hidden="true"></i>教学管理文件</div>
			<div class="child3"><i class="fa fa-calendar" aria-hidden="true"></i>培养过程与数学改革</div>
			<div class="child4"><i class="fa fa-file-text-o" aria-hidden="true"></i>精品与优质课程</div>
			<div class="child5"><i class="fa fa-volume-down" aria-hidden="true"></i>表格下载</div>
		</div>
		<div class="main-content">
			<h2>教学通知</h2>
			<hr>
			<div class="content">
				<h3>关于组织2016年国家级大学生创新创业计划项目中期检查的通知</h3>
				<small class="small1">发布时间:2016-11-6</small>
				<small class="small2">来源:admin</small>
				<small class="small3">阅读次数:151</small>
				<p>
					<td height="200" colspan="2" align="left" valign="top" style="padding-top:6px;text-align:justify;text-justify:inter-ideograph; line-height:25px; font-size:14px">
			<p align="center">
	<strong>化学化工与生命科学学院实验室安全应急预案</strong></p>
<p align="left">
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 为保障学院实验室正常和安全运行，应对可能发生的重大事故，迅速、有效降低和控制安全事故造成的危害，最大限度减少财产损失，保护师生人身安全。特制定本应急预案。</p>
<p align="center">
	<strong>一、总则</strong></p>
<p align="left">
	（一）本应急预案为全院实验室所涉及的危险化学品、生物污染引起的各类安全事故的基础参考应急预案，各实验室应根据自身特点，制定更加专业化、更有针对性和可操作性的具体应急预案。</p>
<p align="left">
	（二）学院实验室安全管理工作领导小组为学院实验室安全应急处置机构，负责督促全院应急管理能力建设、现场处置指挥和后续处理工作。各实验室负责人为本实验室安全应急工作管理人和责任人，须做好本实验室应急预案制定、应急能力建设和应急管理工作。</p>
<p align="left">
	（三）贯彻“安全第一、预防为主”的方针。实验室人员应增强安全意识，充分认识事故危害，掌握防护和应变措施，注重预防，尽最大努力避免安全事故的发生。</p>
<p align="left">
	（四）坚持先救人、后救物；先制止、后教育；先救治、后处理；先处理、后报告的应急处理原则。</p>
<p align="center">
	<strong>二、事故处理程序</strong></p>
<p align="left">
	（一）现场人员根据相关应急处置办法，安全、妥善开展紧急救护工作，现场救护临时负责人可根据情况第一时间拨打110、120或119电话求助，并立即向学院办公室或相关院领导报告。</p>
<p align="left">
	（二）学院主管人员接到报告应第一时间到达现场，指挥现场处置工作，通知学院安全工作领导小组，并迅速向学校领导和相关职能部门报告。</p>
<p align="center">
	<strong>三、常见事故的应急预案</strong></p>
<p align="left">
	（一）实验室火灾应急处理预案。发生火情时，现场人员须立即采取处理措施，防止火势蔓延并迅速报告。</p>
<p align="left">
	1.首先确定火灾发生位置，并判明起火原因，何种物品着火。</p>
<p align="left">
	2.迅速查看周围环境，判断是否有重大危险源分布，是否会诱发次生灾难。</p>
<p align="left">
	3.果断、及时采取应对措施，正确选用消防器材进行扑救。</p>
<p align="left">
	（1）木材、布料、纸张、橡胶以及塑料等固体可燃材料着火，可采用水冷却法灭火；但对珍贵图书或档案，应使用二氧化碳、卤代烷、干粉灭火器灭火。</p>
<p align="left">
	（2）易燃液体、易燃气体和油脂类等化学药品着火，应使用大剂量泡沫灭火剂、干粉灭火器灭火。</p>
<p align="left">
	（3）带电电气设备火灾，应切断电源后再灭火。如因现场情况不能断电，应使用沙子或干粉灭火器，不能使用水或泡沫灭火器。</p>
<p align="left">
	（4）可燃金属，如镁、钠、钾及其合金等着火，应使用干砂或干粉灭火器灭火。</p>
<p align="left">
	（5）废液火灾，如果是有机废液着火，应选用正确的灭火器，并做好个人防护，以免发生中毒或灼伤；如果是腐蚀性废液着火，可用灭火器灭火或干砂等吸附，不可使用高压喷水，以免废液喷溅伤害扑救人员。</p>
<p align="left">
	（6）固体废物着火，应使用干粉灭火器或砂土进行扑救。</p>
<p align="left">
	4.根据可能发生的危险化学品事故类别、危害程度级别，划定危险区，对事故现场周边区域进行隔离和疏导。</p>
<p align="left">
	5.视火情拨打“119”电话报警求救，并到明显位置引导消防车。</p>
<p align="left">
	（二）实验室爆炸应急处理预案</p>
<p align="left">
	1.实验室如发生爆炸事故，现场人员在保证安全的前提下必须及时切断电源和管道阀门。</p>
<p align="left">
	2.所有人员应听从现场临时负责人指挥，按秩序通过安全出口或用其它方法迅速撤离现场。</p>
<p align="left">
	3.爆炸引发的火灾，按照实验室火灾应急处理预案的程序处置。</p>
<p align="left">
	4.爆炸如引发人员受伤，应第一时间送往医院救治。</p>
<p align="left">
	5.应急处置领导小组负责安排抢救工作和人员转移安置工作。</p>
<p align="left">
	（三）危险化学品事故应急处理预案</p>
<p align="left">
	1.危险化学品事故分为三种：化学品伤害皮肤、眼睛等外部器官；毒气由呼吸系统进入体内引起中毒；化学品入口中毒。</p>
<p align="left">
	2.实验过程中若不慎将酸、碱或其它腐蚀性药品溅洒到皮肤上，应立即用大量清水进行冲洗（若眼睛受伤，切勿用手揉搓），冲洗后用苏打（针对酸性物质）或硼酸（针对碱性物质）进行中和。视情况及时送医就诊。</p>
<p align="left">
	3.如果发生气体中毒，应立即打开窗户通风，并疏导实验室人员撤离现场。将中毒者转移至安全地带，揭开领口，让中毒者呼吸到新鲜空气。受氯气中毒，情况轻微者，口服复方樟脑酊解毒，并在胸部用冷湿敷法救护；情况较重者尽快安排吸氧，出现昏迷等严重情况者，应立即进行人工呼吸，并拨打120急救电话。</p>
<p align="left">
	4.如发生入口中毒，酸碱类物品应首先大量饮水，再服用牛奶或蛋清，送医院救治；重金属盐中毒，首先饮一杯含有几克硫酸镁的水溶液，立即送医救治，不要服用任何催吐药，以免发生危险；砷或汞化物中毒者，必须立即就医；其它毒物中毒，原则上应首先催吐，然后送医救治。</p>
<p align="left">
	（四）实验室触电、创伤、烫伤应急处理预案</p>
<p align="left">
	1.触电事故，应首先切断电源或拔下电源插头，切不可在为切断电源的情况下直接接触触电者；如果漏电严重，切断电源后，立即通知电工处置，并指挥实验室人员撤离；若触电者出现休克现象，应立即进行人工呼吸，并马上送医救治。</p>
<p align="left">
	2.在实验过程中，如发生被污染的金属锐器损伤、被动物咬伤的情况，应立即用肥皂和清水冲洗伤口，挤出伤口的血液，再用消毒液（酒精、次氯酸钠、过氧乙酸、碘伏等）消毒，处理伤口。</p>
<p align="left">
	3.发生烫伤，如皮肤未破，可涂擦饱和碳酸氢钠溶液或用碳酸氢钠粉末调成糊状敷于伤处，也可涂沫獾油、烫伤膏等；如皮肤已破，可涂抹紫药水或1%高锰酸钾溶液。</p>
<p align="left">
	（五）生物安全事故应急处置预案</p>
<p align="left">
	1.较大或重大生物安全事故。首先，应立即关闭实验室，将情况上报学校相关部门并对周围环境进行隔离；配合领导小组及相关部门做好感染者救治机现场调查和处置工作；配合上级主管部门做好应急处置（如消毒、隔离、调查等）。其次，受污染区域实施有效消毒；妥善治疗、安置感染者；监控是否出现新的病例；确保丢失的病原微生物菌（毒）种（株）或样本得到控制；经专家组评估确认后，结束应急处置工作。</p>
<p align="left">
	2.一般生物安全事故。首先，立即关闭实验室，被感染人员就地隔离，尽快送往定点医院；将情况上报学校相关职能部门并对周围环境进行隔离；对在事故发生时间段内进入实验室的人员进行医学观察，有相关疫苗的进行预防接种；配合上级主管部门做好现场调查和处置工作。其次，被感染人员得到有效治疗，受感染区域得到有效消毒，在最长的潜伏期内未出现感染者，经专家组评估确认后结束应急处置工作。</p>
<p align="left">
	（六）大型仪器故障、玻璃器皿刺伤或割伤应急处理预案</p>
<p align="left">
	1.受伤人员马上脱下实验服，清洗双手和受伤部位，食用酒精或碘伏消毒。并记录受伤原因和相关的微生物，保留完整的原始记录。</p>
<p align="left">
	2.容器破碎及感染性物质溢出污染。应立即带上防护手套，用布或纸巾覆盖全部受感染物质；倒上消毒剂，消毒剂作用30分钟后，清理污染区域，所有污染物品放入黄色专用塑料袋，按照感染性废物处理。</p>
<p align="left">
	3.眼部溅入感染性物质，先用清水冲洗眼部，然后立即送医治疗。</p>
<p align="left">
	4.手部污染。如果是一般污染，先用清水冲洗，再用肥皂或洗手液搓洗10分钟，再次用清水冲洗，擦干，用酒精擦手；如果是重度污染，先用1%消毒水浸泡双手约10分钟，再用清水和肥皂水清洗。</p>
<p align="left">
	（七）废液泄露应急处理</p>
<p align="left">
	1.如发生少量泄露，应使用惰性材料（如干沙）作为吸附剂将其吸收起来，然后按照危险废物处置。</p>
<p align="left">
	2.如发生大量泄露，应使用惰性材料（如干沙）进行围堵，然后再用吸附剂进行吸收，清理后按照危险废物进行处置。</p>
<p align="left">
	3.严禁使用锯末、废纸等可燃材料作为吸收材料，以免发生反应引起火灾。</p>
<p align="center">
	<strong>四、附则</strong></p>
<p align="left">
	（一）实验室发生安全事故时，现场人员务必冷静观察，采取科学合理的救护措施；所有人员不应盲目，在确保自身安全的前提下，积极开展互救。</p>
<p align="left">
	学院办公室电话：87749379</p>
<p align="left">
	保卫处报警电话：87651110（马房山校区）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; 87757110（南湖校区）</p>
<p align="left">
	（二）注意采取有效措施保护事故现场。</p>
<p align="left">
	（三）实验室应向学院提交书面事故情况报告，说明事故发生的时间、地点、原因和损失情况，实事求是承担责任。</p>
<p align="left">
	（四）学院配合学校相关职能部门和上级主管部门开展事故调查和责任追究，并做好善后处理工作。</p>
<p align="left">
	（五）对于存在的安全隐患，立即开展整改。</p>
<p style="text-align: right;">
	化学化工与生命科学学院</p>
<p style="text-align: right;">
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2017年3月</p>

			</td>
				</p>
				<a href="">下载内容</a>

				<a href="">上一篇：关于住址开展教研发项目认定工作的通知</a>
				
				<a href="">下一篇：关于组织2017年国家级大学生创业训练计划项目一中期检查通知</a>
			</div>
		</div>
		
	</div>
</div>
	<div class="footer">
			<div class="left1">
			<a href="">设为首页</a>
			<a href="">加入收藏</a>
			<a href="">联系我们</a>
			<a href="">友情链接</a>
			<a href="">版权声明</a>
			<a href="">管理登陆</a></div>
			<div class="foot0">	&#169;2018 http://sccels.whut.edu.cn/home.asp All Rights Reserved 版权所有 武理化生</div>
			<div class="foot1">邮箱:xxx@qq.com 技术支持:Token团队</div>
			<div class="foot2">站长统计|今日IP[146]|今日PV[1010]|昨日IP[236]|昨日PV[910]|当前在线[5]</div>
			<div class="wx">
				<img src="images/wx.jpg" alt="">
			</div>
			<div class="word">官方公众号</div>
		</div>
	<script type="text/javascript" src="../controller/js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="../controller/js/top.js"></script>
	<script type="text/javascript">
		var scrollFunc=function(e){
                  e=e || window.event;
                  if(e.wheelDelta && event.ctrlKey){//IE/Opera/Chrome
                              event.returnValue=false;
                       }
                 else if(e.detail){//Firefox
                              event.returnValue=false;
                        }
                   }
    /*注册事件*/
        if(document.addEventListener){
                   document.addEventListener('DOMMouseScroll',scrollFunc);
                  }//W3C
                      window.onmousewheel=document.onmousewheel=scrollFunc;//IE/Opera/Chrome/Safari
	</script>
</body>
</html>