<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="../controller/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../controller/css/index.css">
	<link rel="stylesheet" type="text/css" href="../controller/dist/css/font-awesome.min.css">
</head>
<body>
	
		<div class="head">
			
			<div class="search">
				<input type="text"><button><i class="fa fa-search"></i></button>
			</div>
			<div class="guide">
				<div class="item0"><a href="">首页</a></div>
				<div>|</div>
				<div class="item1">
					<a href="children.html">学院概况</a>
					<div class="dropdown1">
						<a href="children.html">学院简介</a>
						<a href="children.html">学院简介</a>
						<a href="children.html">学院领导</a>
						<a href="children.html">组织机构</a>
						<a href="children.html">工作职责</a>
						<a href="children.html">联系我们</a>
					</div>
				</div>
				<div>|</div>
				<div class="item2">
					<a href="children.html">党政工作</a>
					<div class="dropdown2">
						<a href="children.html">人事工作</a>
				   		<a href="children.html">党建工作</a>
						<a href="children.html">工会教代会</a>
						<a href="children.html">理论学习</a>
						<a href="children.html">规章制度</a>
					</div>
				</div>
				<div>|</div>
				<div class="item3">
					<a href="children.html">师资队伍</a>
					<div class="dropdown3">
						<a href="children.html">杰出人才</a>
						<a href="children.html">教授风采</a>
						<a href="children.html">教学名师</a>
						<a href="children.html">硕士生导师</a>
						<a href="children.html">博士生导师</a>
					</div>
				</div>
				<div>|</div>
				<div class="item4">
					<a href="children.html">本科生培养</a>
					<div class="dropdown4">
						<a href="children.html">专业介绍</a>
						<a href="children.html">培养方案</a>
						<a href="children.html">质量工程</a>
						<a href="children.html">在线开放课程</a>
						<a href="children.html">管理制度</a>
						<a href="children.html">表格下载</a>
					</div>
				</div>
				<div>|</div>
				<div class="item5">
					<a href="">研究生培养</a>
					<div class="dropdown5">
						<a href="children.html">学科点介绍</a>
						<a href="children.html">学位授予</a>
						<a href="children.html">管理制度</a>
						<a href="children.html">表格下载</a>
					</div>
				</div>
				<div>|</div>
				<div class="item6">
					<a href="children.html">学术科研</a>
					<div class="dropdown6">
						<a href="children.html">学术动态</a>
						<a href="children.html">科研管理文件</a>
						<a href="children.html">科研团队</a>
						<a href="children.html">科研立项</a>
						<a href="children.html">科研成果</a>
						<a href="children.html">表格下载</a>
					</div>
				</div>
				<div>|</div>
				<div class="item7">
					<a href="children.html">学生工作</a>
					<div class="dropdown7">
						<a href="children.html">招生与就业</a>
						<a href="children.html">团学工作</a>
						<a href="children.html">学生社团</a>
						<a href="children.html">菁华化苑</a>
						<a href="children.html">创新创业</a>
						<a href="children.html">管理制度</a>
					</div>
				</div>
				<div>|</div>
				<div class="item8">
					<a href="children.html">校友会</a>
					<div class="dropdown8">
						<a href="children.html">校友动态</a>
						<a href="children.html">校友风采</a>
						<a href="children.html">杰出校友</a>
						<a href="children.html">联系我们</a>
					</div>		
				</div>
				<div>|</div>
				<div class="item9">
					<a href="children.html">信息公开</a>
				</div>
			</div>
		</div>
		
	<div class="container">
	
		<div class="image">
		<div id="myCarousel" class="carousel slide" data-ride="carouel" data-interval="3000">
					 
					<ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1"></li>
						<li data-target="#myCarousel" data-slide-to="2"></li>
					</ol>
					<!-- 轮播（Carousel）项目 -->
					<div class="carousel-inner" role="listbox" style="height:340px;margin-top:20px;">
						<div class="item active">
							<img src="images/jianjie.jpg" alt="First slide">
						</div>
						<div class="item">
							<img src="images/jianjie1.jpg" alt="Second slide">
						</div>
						<div class="item">
							<img src="images/jianjie2.jpg" alt="Third slide">
						</div>
					</div>
					<!-- 轮播（Carousel）导航 -->
					<a class="carousel-control left" href="#myCarousel" data-slide="prev" role="button"><div class="ll">&lsaquo;</div></a>
					<a class="carousel-control right" href="#myCarousel" data-slide="next" role="button"><div class="ll">&rsaquo;</div></a>
     			</div> 
		</div>
	
		<div class="news">
			<h2>新闻动态</h2>
			<a class="more" href="children.html">more</a>
			<hr>
			<ul>
				<li><a href="article.html">学院2018年推荐优秀本科毕业生毕业面试攻读硕士研究生工作的公示</a>
					<div class="time">[09-08]</div></li>
				<li><a href="article.html">化生学院举行党的十九大精神学习演讲会</a>
					<div class="time">[09-08]</div></li>
				<li><a href="article.html">关工委艺术教育基地学生书画作品展举行</a>
					<div class="time">[09-08]</div></li>
				<li><a href="article.html">化生学院领导板子赴理学院学习调研</a>
					<div class="time">[09-08]</div></li>
				<li><a href="article.html">孙涛垒教授团队在磷酸化蛋白质学富集材料领域取得重要研究进展</a>
					<div class="time">[09-08]</div></li>
				<li><a href="article.html">学院2018年推荐优秀本科毕业生毕业面试攻读硕士研究生工作的公示</a>
					<div class="time">[09-08]</div></li>
				<li><a href="article.html">学院2018年推荐优秀本科毕业生毕业面试攻读硕士研究生工作的公示</a>
					<div class="time">[09-08]</div></li>
				<li><a href="article.html">学院2018年推荐优秀本科毕业生毕业面试攻读硕士研究生工作的公示</a>
					<div class="time">[09-08]</div></li>
				
			</ul>
		</div>
	<div class="clip">
		<a href="article.html"><img src="images/clip.png"></a>		
	</div>
	<div class="call">
		<h2>通知公告</h2>
		<a class="more" href="children.html">more</a>
		<hr>
		<ul>
			<li><a href="article.html">校优秀硕士(学位论文)培育项目推荐公示</a>
				<div class="date">[09-08]</div></li>
			<li><a href="article.html">武汉理工大学化学化工与生命科学学院研究人才招聘启事</a>
				<div class="date">[09-08]</div></li>
			<li><a href="article.html">通过化学化工与生命科学学院2018年“具有突出创新能力”考生选拔学生名单公示</a>
				<div class="date">[09-08]</div></li>
			<li><a href="article.html">化学化工与生命科学学院2018年“具有突出创新能力”考生选拔面试考核通知</a>
				<div class="date">[09-08]</div></li>
			<li><a href="article.html">拟入围化学化工与生命科学学院2018年“具有突出创新能力”考生选拔考核环节学生名单公示</a>
				<div class="date">[09-08]</div></li>
			<li><a href="article.html">学院2018年推荐优秀本科毕业生毕业面试攻读硕士研究生工作的公示</a>
				<div class="date">[09-08]</div></li>
			<li><a href="article.html">学院2018年推荐优秀本科毕业生毕业面试攻读硕士研究生工作的公示</a>
				<div class="date">[09-08]</div></li>
			<li><a href="article.html">学院2018年推荐优秀本科毕业生毕业面试攻读硕士研究生工作的公示</a>
				<div class="date">[09-08]</div></li>
			<li><a href="article.html">学院2018年推荐优秀本科毕业生毕业面试攻读硕士研究生工作的公示</a>
				<div class="date">[09-08]</div></li>
			<li><a href="article.html">学院2018年推荐优秀本科毕业生毕业面试攻读硕士研究生工作的公示</a>
				<div class="date">[09-08]</div></li>
		</ul>
	</div>
	<div class="study">
		<h2>学术活动</h2>
		<a class="more1" href="children.html">more</a>
		<hr>
		<ul class="work">
			<li><a href="article.html">学院2018年推荐优秀本科毕业生毕业面试攻读硕士研究生工作的公示</a>
				<div class="date1">[09-08]</div></li>
			<li><a href="article.html">学院2018年推荐优秀本科毕业生毕业面试攻读硕士研究生工作的公示</a>
				<div class="date1">[09-08]</div></li>
			<li><a href="article.html">学院2018年推荐优秀本科毕业生毕业面试攻读硕士研究生工作的公示</a>
				<div class="date1">[09-08]</div></li>
			<li><a href="article.html">学院2018年推荐优秀本科毕业生毕业面试攻读硕士研究生工作的公示</a>
				<div class="date1">[09-08]</div></li>
			
		</ul>
		<h2>学生园地</h2>
		<a class="more2" href="children.html">more</a>
		<hr>
		<ul class="student">
			<li><a href="article.html">学院2018年推荐优秀本科毕业生毕业面试攻读硕士研究生工作的公示</a>
				<div class="date1">[09-08]</div></li>
			<li><a href="article.html">学院2018年推荐优秀本科毕业生毕业面试攻读硕士研究生工作的公示</a>
				<div class="date1">[09-08]</div></li>
			<li><a href="article.html">学院2018年推荐优秀本科毕业生毕业面试攻读硕士研究生工作的公示</a>
				<div class="date1">[09-08]</div></li>
			<li><a href="article.html">学院2018年推荐优秀本科毕业生毕业面试攻读硕士研究生工作的公示</a>
				<div class="date1">[09-08]</div></li>
			
		</ul>
	</div>
	
	<div class="yuandi">
		<img src="images/link.png">
		<a href=""><div class="child">在线开放课程</div></a>
		<a href=""><div class="child">国家工科化学基地</div></a>
		<a href=""><div class="child">实验室安全</div></a>
		<a href=""><div class="child">大型仪器预约</div></a>
		<a href=""><div class="child">武汉理工大学教务处</div></a>
		<img src="images/link1.png">
		<select onchange="window.location=this.value;">
			<option value="">———相关链接———</option>
			<option value="http://www.chem.whu.edu.cn/">武汉大学化学与分子学院</option>
			<option value="http://chem.hust.edu.cn/ ">华中科技大学化学与化工学院</option>
			<option value="http://che.zju.edu.cn/">浙江大学化学工程与生物工程学院</option>
			<option value="http://www.sps.tsinghua.edu.cn/">清华大学药学院</option>
			<option value="http://chemeng.tju.edu.cn/">天津化工学院</option>
		</select>
	</div>
<!--	<div class="lunbo">
		<div class="role">
			
			<div class="image1" style="left:0;"><a href=""><img src="images/1.jpg"></a></div>
			<div class="image2" style="left:500px;"><a href=""><img src="images/2.jpg"></a></div>
			<div class="image3" style="left:1000px;"><a href=""><img src="images/3.jpg"></a></div>
			<div class="image4" style="left:1500px;"><a href=""><img src="images/4.jpg"></a></div>
		
		</div>
	</div>-->
	
	</div>
	<div class="footer">
			<div class="left1">
			<a href="">设为首页</a>
			<a href="">加入收藏</a>
			<a href="">联系我们</a>
			<a href="">友情链接</a>
			<a href="">版权声明</a>
			<a href="">管理登陆</a></div>
			<div class="foot0">	&#169;2018 http://sccels.whut.edu.cn/home.asp All Rights Reserved 版权所有 武理化生</div>
			<div class="foot1">邮箱:xxx@qq.com 技术支持:Token团队</div>
			<div class="foot2">站长统计|今日IP[146]|今日PV[1010]|昨日IP[236]|昨日PV[910]|当前在线[5]</div>
			<div class="wx">
				<img src="images/wx.jpg" alt="">
			</div>
			<div class="word">官方公众号</div>
		</div>
	
</body>
<script type="text/javascript" src="../controller/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../controller/dist/js/bootstrap.min.js"></script>
<!--<script type="text/javascript" src="../controller/js/index.js"></script>-->
<script type="text/javascript" src="../controller/js/top.js"></script>
<script type="text/javascript">
		var scrollFunc=function(e){
                  e=e || window.event;
                  if(e.wheelDelta && event.ctrlKey){//IE/Opera/Chrome
                              event.returnValue=false;
                       }
                 else if(e.detail){//Firefox
                              event.returnValue=false;
                        }
                   }
    /*注册事件*/
        if(document.addEventListener){
                   document.addEventListener('DOMMouseScroll',scrollFunc);
                  }//W3C
                      window.onmousewheel=document.onmousewheel=scrollFunc;//IE/Opera/Chrome/Safari
		//console.log("我有一个叫冷瑜的室友，他是个大佬，想要联系方式的，只要10元");
	</script>
</html>