<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	
	<title>Document</title>
	<!--<link rel="stylesheet" type="text/css" href="../controller/dist/css/bootstrap.min.css">-->
	<link rel="stylesheet" type="text/css" href="../controller/css/jigou.css">
	<link rel="stylesheet" type="text/css" href="../controller/dist/css/font-awesome.min.css">
</head>
<body>
	
	<div class="head">
			
			<div class="search">
				<input type="text"><button><i class="fa fa-search"></i></button>
			</div>
			<div class="guide">
				<div class="item0"><a href="">首页</a></div>
				<div>|</div>
				<div class="item1">
					<a href="children.html">学院概况</a>
					<div class="dropdown1">
						<a href="children.html">学院简介</a>
						<a href="children.html">学院简介</a>
						<a href="children.html">学院领导</a>
						<a href="children.html">组织机构</a>
						<a href="children.html">工作职责</a>
						<a href="children.html">联系我们</a>
					</div>
				</div>
				<div>|</div>
				<div class="item2">
					<a href="children.html">党政工作</a>
					<div class="dropdown2">
						<a href="children.html">人事工作</a>
				   		<a href="children.html">党建工作</a>
						<a href="children.html">工会教代会</a>
						<a href="children.html">理论学习</a>
						<a href="children.html">规章制度</a>
					</div>
				</div>
				<div>|</div>
				<div class="item3">
					<a href="children.html">师资队伍</a>
					<div class="dropdown3">
						<a href="children.html">杰出人才</a>
						<a href="children.html">教授风采</a>
						<a href="children.html">教学名师</a>
						<a href="children.html">硕士生导师</a>
						<a href="children.html">博士生导师</a>
					</div>
				</div>
				<div>|</div>
				<div class="item4">
					<a href="children.html">本科生培养</a>
					<div class="dropdown4">
						<a href="children.html">专业介绍</a>
						<a href="children.html">培养方案</a>
						<a href="children.html">质量工程</a>
						<a href="children.html">在线开放课程</a>
						<a href="children.html">管理制度</a>
						<a href="children.html">表格下载</a>
					</div>
				</div>
				<div>|</div>
				<div class="item5">
					<a href="">研究生培养</a>
					<div class="dropdown5">
						<a href="children.html">学科点介绍</a>
						<a href="children.html">学位授予</a>
						<a href="children.html">管理制度</a>
						<a href="children.html">表格下载</a>
					</div>
				</div>
				<div>|</div>
				<div class="item6">
					<a href="children.html">学术科研</a>
					<div class="dropdown6">
						<a href="children.html">学术动态</a>
						<a href="children.html">科研管理文件</a>
						<a href="children.html">科研团队</a>
						<a href="children.html">科研立项</a>
						<a href="children.html">科研成果</a>
						<a href="children.html">表格下载</a>
					</div>
				</div>
				<div>|</div>
				<div class="item7">
					<a href="children.html">学生工作</a>
					<div class="dropdown7">
						<a href="children.html">招生与就业</a>
						<a href="children.html">团学工作</a>
						<a href="children.html">学生社团</a>
						<a href="children.html">菁华化苑</a>
						<a href="children.html">创新创业</a>
						<a href="children.html">管理制度</a>
					</div>
				</div>
				<div>|</div>
				<div class="item8">
					<a href="children.html">校友会</a>
					<div class="dropdown8">
						<a href="children.html">校友动态</a>
						<a href="children.html">校友风采</a>
						<a href="children.html">杰出校友</a>
						<a href="children.html">联系我们</a>
					</div>		
				</div>
				<div>|</div>
				<div class="item9">
					<a href="children.html">信息公开</a>
				</div>
			</div>
		</div>
		
		
		<div class="container">
		<div class="content">
			<div class="guide-c">
			<div class="guide-head">学校概况</div>
			<div class="child1"><i class="fa fa-th-large" aria-hidden="true"></i>学院简介</div>
			<div class="child2"><i class="fa fa-envelope-o" aria-hidden="true"></i>学校领导</div>
			<div class="child3 active"><i class="fa fa-calendar" aria-hidden="true"></i>组织机构</div>
			<div class="child4"><i class="fa fa-file-text-o" aria-hidden="true"></i>工作职责</div>
			<div class="child5"><i class="fa fa-volume-down" aria-hidden="true"></i>联系我们</div>
		</div>
		<div class="main-content">
			<h1>组织机构</h1>
			<hr>
			<img src="images/jigou.jpg">
			<div class="div1">化学系</div>
			<div class="div2">化学工程系</div>
			<div class="div3">生物科学与技术系</div>
			<div class="div4">制药工程系</div>
			<div class="div5">行政办公室</div>
			<div class="div6">党委办公室</div>
			<div class="div7">教学办公室</div>
			<div class="div8">研究生工作办公室</div>
			<div class="div9">科研工作办公室</div>
			<div class="div10">学生工作办公室</div>
			<div class="div11">重大疾病与健康研究中心</div>
			<div class="div12">中药制剂工程中心</div>
			<div class="div13">材料保护研究所</div>
			<div class="div14">精细化工研究中心</div>
			<div class="div15">大型仪器共享中心</div>
			<div class="div16">动物实验中学心</div>
			<div class="div17">文献资料室</div>
		</div>
		</div>
	</div>
	<div class="footer">
			<div class="left1">
			<a href="">设为首页</a>
			<a href="">加入收藏</a>
			<a href="">联系我们</a>
			<a href="">友情链接</a>
			<a href="">版权声明</a>
			<a href="">管理登陆</a></div>
			<div class="foot0">	&#169;2018 http://sccels.whut.edu.cn/home.asp All Rights Reserved 版权所有 武理化生</div>
			<div class="foot1">邮箱:xxx@qq.com 技术支持:Token团队</div>
			<div class="foot2">站长统计|今日IP[146]|今日PV[1010]|昨日IP[236]|昨日PV[910]|当前在线[5]</div>
			<div class="wx">
				<img src="images/wx.jpg" alt="">
			</div>
			<div class="word">官方公众号</div>
		</div>
	<script type="text/javascript" src="../controller/js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="../controller/js/top.js"></script>
	<script type="text/javascript">
		var scrollFunc=function(e){
                  e=e || window.event;
                  if(e.wheelDelta && event.ctrlKey){//IE/Opera/Chrome
                              event.returnValue=false;
                       }
                 else if(e.detail){//Firefox
                              event.returnValue=false;
                        }
                   }
    /*注册事件*/
        if(document.addEventListener){
                   document.addEventListener('DOMMouseScroll',scrollFunc);
                  }//W3C
                      window.onmousewheel=document.onmousewheel=scrollFunc;//IE/Opera/Chrome/Safari
	</script>
</body>
</html>